{% extends 'admin/base.html.twig' %}
{% block title %}Etiquetas{% endblock %}
{% block page_title %}Etiquetas{% endblock %}
{% block body %}<p style="color:#555;font-size:14px">Próximamente.</p>{% endblock %}
